@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Playfair+Display&display=swap');

body{
    background-color: grey;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background-color: #252525;
    transition: background-color 0.2s ease-in-out;
}

header h6 {
    color: #d6b729;
    font-size: 80px;
    text-align: center;
    margin: 0; /* Remove margin to eliminate extra spacing. */
}

 .slider{
    font-family:  'Dhurjati', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slide{
    height: 400px;
    width: 300px;
    display: flex; 
    flex-direction: row;
    align-items: stretch;
    margin-top: 10rem;
}

.space{
    width: 100px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
} 


.member{
    display: flex;
    flex-direction: row;
    align-items: stretch;    
}